<a href="https://colab.research.google.com/github/shinamauy/Data-Science-Alura/blob/main/Exercicios_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<<Começando com Python>>

Vamos praticar o uso da função print com algumas atividades. Para isso, solucione os problemas propostos em código:

1 - Imprima a frase Escola de Dados da Alura!.

In [3]:
print ('Escola de Dados da Alura!')

Escola de Dados da Alura!

2 - Imprima seu nome e seu sobrenome seguindo a estrutura abaixo:

Nome: [seu nome]

Sobrenome: [seu sobrenome]

In [6]:
print('Nome: [Rafael]')
print('Sobrenome: [Fernandes]')

Nome: [Rafael]
Sobrenome: [Fernandes]

3 - Imprima o seu primeiro nome letra a letra. Por exemplo, meu nome é Rafael, então eu obtenho a seguinte saída:

R

A

F

A

E

L

In [7]:
print ('R')
print ('A')
print ('F')
print ('A')
print ('E')
print ('L')

R
A
F
A
E
L

4 - Imprima o dia do seu nascimento em formato dia mês ano. Lembrando que os valores de dia e ano não podem estar entre aspas. Supondo uma data de aniversário dia 28 de fevereiro de 2003, o formato deve estar como no exemplo abaixo:
28 fevereiro 2003

In [8]:
print(28, 'fevereiro', 2003)

28 fevereiro 2003

5 - Imprima, em um único print, o atual ano que você está fazendo esse curso. O valor do ano deve ser um dado numérico e a saída do print deve ser a seguinte:
Ano atual: [ano]

In [9]:
print('Ano atual:',2025)

Ano atual: 2025

##Exercicios Estrutura de Dados##

Vamos praticar o uso de estruturas de dados, como as listas e os dicionários, a partir de algumas atividades. Agora que estamos avançando nos conteúdos, podemos tornar os desafios mais interessantes. Para isso, vamos trabalhar com projetos de código!